<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mybatis.mapper.ProductMapper">

	<insert id="save">
        insert into products (product_id, description, price, product_name) values (#{productId}, #{description}, #{price}, #{productName})
    </insert>
    
    <resultMap id="productResultMap" type="Product">
        <id property="product_id" column="productId"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
        <result property="product_name" column="productName"/>
    </resultMap>
    
    <select id="findById" resultMap="productResultMap">
        select <include refid="allColumns"/> from products where product_id = #{productId}
    </select>
    
    <select id="findAll" resultMap="productResultMap" fetchSize="10" flushCache="false" useCache="false" timeout="60000" statementType="PREPARED" resultSetType="FORWARD_ONLY">
        select <include refid="allColumns"/> from products
    </select>
    
    <delete id = "delete" parameterType = "Product">
      delete from products where product_id = #{product_id};
    </delete>
    
</mapper>